Source: hike-tracker
Section: editors
Priority: extra
Maintainer: Philip Morrell <hike-tracker.emorrp1@mamber.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: hike-tracker
Architecture: any
Depends: python (>=2.5), python-sqlite, python-elixir (>=0.6.1), python-configobj
Description: A program for tracking people on scout hikes.
 A program for tracking people on scout hikes.
